.news-page {
  .banner-panel {
    text-align: center;
    margin-bottom: 0;

    .banner-panel-title {
      font-size: 16px;
      margin-bottom: 15px;
    }

    .btn {
      border-radius: 25px;
      text-transform: uppercase;
      font-weight: bold;
      padding: 10px 12px;
    }
  }
}

.news, .entry {
  font-size: 14px;
  font-weight: 500;

  article {
    margin-bottom: 25px;
  }

  .news-header, .entry-header {
    margin: 15px 0;
  }

  .entry-header {
    margin-bottom: 30px;
    time {
      background-color: $green;
      color: #fff;
      font-size: 20px;
      font-weight: 500;
      padding: 6px 10px;
    }
  }

  .news-img, .entry-img {
    text-align: center;
    margin-bottom: 15px;
  }
  .news-excerpt, .entry-content {
    p {
      margin-bottom: 15px;
    }
  }
}

.more-link {
  clear: both;
  color: $green;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: underline;
  margin-top: 15px;
  &:hover, &:focus {
    text-decoration: none;
  }
}