@font-face {
  font-family: 'Intro-Black-Caps';
  src: url('../fonts/intro-black-caps/intro-black-caps-webfont.eot');
  src: url('../fonts/intro-black-caps/intro-black-caps-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/intro-black-caps/intro-black-caps-webfont.woff') format('woff'),
  url('../fonts/intro-black-caps/intro-black-caps-webfont.ttf') format('truetype'),
  url('../fonts/intro-black-caps/intro-black-caps-webfont.svg#intro_black_capsregular') format('svg');
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
}